name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Nodejs
        uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Generate .env
        run: |
          touch .env
          echo METAMASK_KEY: '${{ secrets.METAMASK_KEY }}' >> .env
          echo DATABASE_URL: '${{ secrets.DATABASE_URL }}' >> .env
          echo POLYGONSCAN_API_KEY: '${{ secrets.POLYGONSCAN_API_KEY }}' >> .env
          echo PRIVATE_KEY: '${{ secrets.PRIVATE_KEY }}' >> .env
          echo CLERK_SECRET_KEY: '${{ secrets.CLERK_SECRET_KEY }}' >> .env
          echo CLERK_PEM_PUBLIC_KEY: '${{ secrets.CLERK_PEM_PUBLIC_KEY }}' >> .env
          cat .env

      - name: Install Dependencies
        run: npm install

      - name: Compile solidity
        run: npx hardhat compile

      - name: Build
        run: npm run build

      - uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          source: "., !node_modules"
          target: "~/www/api"

      - name: Update API
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/www/api
            pnpm i
            npx prisma migrate deploy
            pm2 restart api

